.intro{
    display: flex;
    height: 70vh;
    margin-top: 6rem;
}

.typeit{
    height: 15rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.i-name>:nth-child(2){
    font-weight: 100;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    position: relative; 
}

.i-right{
    flex: 1;
    display: flex;
}



/* 화면이 작을 때 세로로 정렬 */

@media screen and (max-width: 480px) {
    .intro{
        flex-direction: column;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
        width: 3rem;
        height: 3rem;
    }
    .i-name>:nth-child(1){
        color: white;
        font-weight: bold;
        font-size: 2rem;
    }
}

/*이미지 회전*/

.img {animation: rotate_image 18s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


